 #button-div, #question-text {
    
        display: flex;
        justify-content: center;
        font-size: 30px;
    
    
}
#question-info  {
    display: flex;
    justify-content: center;
    flex-direction: column;
   font-size: 40px;
}
   
